:root {
  --navbar-color: rgb(52, 52, 52);
  --heigth: 80px;
  --border-pixel: 1px;
  --hover-color: rgb(180, 180, 180);
}

nav {
  background-color: var(--navbar-color);
  width: calc(100vw - 2px);
  height: var(--heigth);

  position: fixed;

  display: flex;
  justify-content: space-between;

  border-bottom: var(--border-pixel) solid red;
  border-top: var(--border-pixel) solid red;
}

.brandImage {
  color: white;
  margin-left: 20px;
}

nav input[type="search"] {
  height: 40px;
  width: 300px;
  border-radius: 50px;
  background: transparent;
  border-color: red;
  color: white;
}

nav input[type="search"]::placeholder {
  color: white;
  padding: 15px;
}

.navbarActions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.navbarActionsInputSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.navbarActionsInputSearch button {
  background: transparent;
  cursor: pointer;
  border: none;
  border-left: 1px solid red;
}

.navbarActionSearchBar {
  color: white;
  position: absolute;
  margin-left: 250px;

  transition: 500ms;
}

.navbarActionSearchBar:hover {
  color: var(--hover-color);
}

.navbarActionShopping {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: grid;

  transition: 500ms;
}

.navbarActionShopping:hover {
  color: var(--hover-color);
  transform: translateY(-4px);
}

.navbarActionsProducts {
  color: white;
  margin-right: 100px;
  font-size: 25px;

  display: flex;
  align-items: center;
  gap: 10px;

  transition: 500ms;
}

.navbarActionsProducts:hover {
  color: var(--hover-color);
  transform: translateY(-4px);
}

.dumbellIcon {
  transition: 600ms;
}

.navbarActionsProducts:hover .dumbellIcon {
  transform: rotate(225deg);
}
